
obrot		WAVE 		dzwiek\chimes.wav
nie_wolno	WAVE 		dzwiek\incorrec.wav
upuszczenie	WAVE 		dzwiek\gnoop.wav
wygrana		WAVE 		dzwiek\trumpet1.wav
MAINICON 	ICON 		puzzle_blue.ico

start0     PUZLE_DATA other\start.jpg
kursor CURSOR kursory\kursor6.ani
czekaj CURSOR kursory\kursor5.cur
rysunek1         PUZLE_DATA             dla_dzieci\rysunek1.jpg
rysunek2         PUZLE_DATA             dla_dzieci\rysunek2.jpg
rysunek3         PUZLE_DATA             dla_dzieci\rysunek3.jpg
rysunek4         PUZLE_DATA             dla_dzieci\rysunek4.jpg
rysunek5         PUZLE_DATA             dla_dzieci\rysunek5.jpg
rysunek6         PUZLE_DATA             dla_dzieci\rysunek6.jpg
rysunek7         PUZLE_DATA             dla_dzieci\rysunek7.jpg
rysunek8         PUZLE_DATA             dla_dzieci\rysunek8.jpg
rysunek9         PUZLE_DATA             dla_dzieci\rysunek9.jpg
rysunek10         PUZLE_DATA             dla_dzieci\rysunek10.jpg
rysunek11         PUZLE_DATA             dla_dzieci\rysunek11.jpg
rysunek12         PUZLE_DATA             dla_dzieci\rysunek12.jpg
rysunek13         PUZLE_DATA             dla_dzieci\rysunek13.jpg
rysunek14         PUZLE_DATA             dla_dzieci\rysunek14.jpg
rysunek15         PUZLE_DATA             dla_dzieci\rysunek15.jpg
rysunek16         PUZLE_DATA             dla_dzieci\rysunek16.jpg
rysunek17         PUZLE_DATA             dla_dzieci\rysunek17.jpg
rysunek18         PUZLE_DATA             dla_dzieci\rysunek18.jpg
rysunek19         PUZLE_DATA             dla_dzieci\rysunek19.jpg
rysunek20         PUZLE_DATA             dla_dzieci\rysunek20.jpg
rysunek21         PUZLE_DATA             dla_dzieci\rysunek21.jpg
rysunek22         PUZLE_DATA             dla_dzieci\rysunek22.jpg
rysunek23         PUZLE_DATA             dla_dzieci\rysunek23.jpg
rysunek24         PUZLE_DATA             dla_dzieci\rysunek24.jpg
rysunek25         PUZLE_DATA             dla_dzieci\rysunek25.jpg
rysunek26         PUZLE_DATA             dla_dzieci\rysunek26.jpg
rysunek27         PUZLE_DATA             dla_dzieci\rysunek27.jpg
rysunek28         PUZLE_DATA             dla_dzieci\rysunek28.jpg
rysunek29         PUZLE_DATA             dla_dzieci\rysunek29.jpg
rysunek30         PUZLE_DATA             dla_dzieci\rysunek30.jpg
rysunek31         PUZLE_DATA             dla_dzieci\rysunek31.jpg
rysunek32         PUZLE_DATA             dla_dzieci\rysunek32.jpg
rysunek33         PUZLE_DATA             dla_dzieci\rysunek33.jpg
rysunek34         PUZLE_DATA             dla_dzieci\rysunek34.jpg
rysunek35         PUZLE_DATA             dla_dzieci\rysunek35.jpg
rysunek36         PUZLE_DATA             dla_dzieci\rysunek36.jpg

tap1         PUZLE_DATA             podklad\tap1.jpg
tap2         PUZLE_DATA             podklad\tap2.jpg
tap3         PUZLE_DATA             podklad\tap3.jpg
tap4         PUZLE_DATA             podklad\tap4.jpg
tap5         PUZLE_DATA             podklad\tap5.jpg
tap6         PUZLE_DATA             podklad\tap6.jpg
tap7         PUZLE_DATA             podklad\tap7.jpg
tap8         PUZLE_DATA             podklad\tap8.jpg
tap9         PUZLE_DATA             podklad\tap9.jpg
tap10         PUZLE_DATA             podklad\tap10.jpg
tap11         PUZLE_DATA             podklad\tap11.jpg
tap12         PUZLE_DATA             podklad\tap12.jpg